In [1]:
import lensql

lensql.setup(
    host='http://localhost:5000',
    username='dav',
    dbhost='localhost',
    dbport=5432,
    dbname='lensql',
    dbusername='lensql'
)

[+] Server is online
[?] Enter database password:

 ········

[+] Connected to database
[+] SQL execution enabled
[*] All code executed from now on will be interpreted as SQL

In [ ]:
SELECT id FROM lensql.users WHERE 1=1

Output()

In [1]:
SELECT
	schema_name,
	schema_owner
FROM
	information_schema.schemata
WHERE
	schema_name <> 'information_schema'
	AND schema_name <> 'pg_catalog'
	AND schema_name <> 'pg_toast'
;

  schema_name schema_owner
0      public     postgres

Output()

In [1]:
SELECT
	datname,
	usename AS dba,
	datistemplate AS is_template,
	datallowconn AS allow_connection
FROM
	pg_database db
	JOIN pg_user u ON db.datdba = u.usesysid
;

          datname       dba  is_template  allow_connection
0        postgres  postgres        False              True
1       template1  postgres         True              True
2       template0  postgres         True             False
3  sql_collection  postgres        False              True
4          lensql  postgres        False              True

Output()